<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.peter.connectd">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />


    <uses-feature android:name="android.hardware.nfc" />


    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/connectd_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="com.example.peter.connectd.ui.application.ConnectdApplication">

        <service android:name=".login.AuthenticationService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.SettingsActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".ui.activity.SignInActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".ui.activity.SignUpActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".ui.activity.AuthenticatedHomeActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".ui.activity.ResultsActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".ui.activity.InvitationAcceptedActivity"
            android:label="NFC Data Display">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/vnd.com.example.peter.connectd" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.UserDetailActivity"
            android:label="User Detail Page"></activity>


    </application>

</manifest>
